/*--------------------------------------
  [BG THEME]
--------------------------------------*/
.bg-theme {
  background: $theme;
}

.bg-theme02 {
  background: $theme02;
}

.bg-theme03 {
  background: $theme03;
}

.bg-theme04 {
  background: $theme04;
}

.bg-theme05 {
  background: $theme05;
}

.bg-black {
  background: #111;
}

.bg-gray {
  background: #333;
}

.btn-white {
	background: #fff;
}
