/*--------------------------------------
  [TEXT THEME]
--------------------------------------*/
.text-theme {
  color: $theme;
}

.text-theme02 {
  color: $theme02;
}

.text-theme03 {
  color: $theme03;
}

.text-theme04 {
  color: $theme04;
}

.text-theme05 {
  color: $theme05;
}

.text-black {
  color: #111111;
}

.text-gray {
  color: #333333;
}

.text-white {
  color: #eeeeee;
}
