.ga-section {

    .ga-header {
        margin-bottom: 40px;

        .ga-header-title {
            font-size: 48px;
            line-height: 48px;
            font-weight: 600;
            color: $theme;
            background: -webkit-linear-gradient($theme02, $theme);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 0;
        }
    
        .ga-header-subtitle {
            font-size: 28px;
            line-height: 28px;
            font-weight: normal;
            margin: 0;
        }
        
        .ga-header-title {
            &.title-small {
                font-size: 28px;
            }
        }

        .ga-header-subtitle {
            &.title-small {
                font-size: 20px;
            }
        }

        @media(max-width: 767px) {

            .ga-header-title {
                font-size: 38px;
                line-height: 38px;
                font-weight: 600;
                color: #F44336;
                margin: 0;
            }
        
            .ga-header-subtitle {
                font-size: 18px;
                line-height: 18px;
                font-weight: normal;
                margin: 0;
            }


            .ga-header-title {
                &.title-small {
                    font-size: 22px;
                }
            }
    
            .ga-header-subtitle {
                &.title-small {
                    font-size: 16px;
                }
            }
        }


    }

    .ga-features {
        
        font-size: 18px;
        color: #333;
        padding: 0;
        margin: 0;
        padding-left: 20px;
    }



    .ga-figure-mockup {
        margin: 20px 0;
        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 10px auto;
        }
    }

    .gal-container {

        .gal-item {
            width: 50%;
            height: auto;
            padding: 15px;
            cursor: pointer;
            display: inline-block;

            img {
                width: 100%;
                height: auto;
                display: block;
                margin: 0 auto;
                transition: all ease-in-out .1s;
            }

            &:hover,
            &:focus {
                
                img {
                    transform: scale(1.1);
                    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
                }
            }
        }

    }

    .row-gal {
        margin-bottom: 50px;
    }
    

}

.gal_video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(#000, .7);
    .gal_video-body {
        width: 80%;
        //min-height: 600px;
        margin: 10px auto;
        position: relative;

        /* iframe {
            width: 100%;
            max-width: 650px;
        } */

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }

    }

    .gal_video-close {
        position: absolute;
        top: 5px;
        right: 5px;
        color: #333;
        background: #fff;
        opacity: .6;
        border: 1px solid transparent;
        text-align: center;
        font-size: 16px;
        outline: none;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        transition: all ease-in-out .1s;

        &:hover,
        &:focus {
            opacity: 1;
        }


    }
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


/* ----------------------------------------------
 * Generated by Animista on 2019-6-25 10:18:59
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

  
.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}